:root{
    --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --main-color: #383E56;
    --secondary-color: #fff;  
    --border-color: #707070;
    --button-color: #F69E7B; 
}

html{
    font-size: 10px; 
    font-family: var(--main-font); 
    box-sizing: border-box; 
}

body{
    background-color: var(--secondary-color);
}

/* Log In Form */
.log-in-form{
    width: 53vw; 
    background: var(--main-color);
    margin-top: 0; 
    position: relative; 
    left: 25%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
}

.text{
    text-align: center; 
    font-weight: bold; 
    margin-top: 7%; 
    margin-bottom: 7%; 
}

.logo{
    font-size: 2.5rem; 
    color: var(--button-color); 
    margin-bottom: 0; 
}

.caption{
    font-size: 2.0rem; 
    color: var(--secondary-color); 
    margin-top: 0; 
}

form{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    padding-right: 6%;
    padding-left: 6%; 
}

.category{
    font-weight: bold; 
    font-size: 1.2rem; 
    color: var(--secondary-color);
    position: relative; 
    left: 0.5rem; 
    margin-bottom: 0.5rem; 
}

.input-box{
    border-radius: 1.3rem; 
    outline: none; 
    border: 1px solid var(--border-color);
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem; 
    width: 100%; 
}

.password{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.password a{
    font-weight: bold; 
    font-size: 1.2rem; 
    color: var(--border-color); 
    margin-bottom: -1%; 
    text-decoration: none; 
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.log-in-button{
    font-size: 1.2rem; 
    font-weight: bold; 
    color: var(--main-color); 
    background: var(--button-color); 
    border-radius: 1.9rem; 
    outline: none; 
    border: 1px solid var(--border-color);
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem; 
    margin-top: 4rem; 
    margin-bottom: 8rem; 
}

.question{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
}
