@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Serif&display=swap);
:root{
    --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font: 'PT Serif', serif; 
    --grey: #707070;
    --navy-blue: #383E56;
    --peach: #F69E7B; 
    --white: #fff;
}

html{
    font-size: 10px; 
    font-family: var(--main-font);
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: var(white);
    overflow-x: hidden; 
    max-width: 100%; 
    margin: 0; 
}

/* Side Bar */

/* Side Bar Part: Current Orders */
.side-bar{
    background-color: var(--navy-blue); 
    width: 30vw; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    margin: 0;  
    overflow: hidden;

}

.logo{
    text-transform: uppercase; 
    font-weight: bold; 
    color: var(--white); 
    font-size: 2.5rem; 
    text-align: center; 
}

.deliveries a{
    text-decoration: none; 
    padding-bottom: 2rem; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    cursor: pointer; 
}

.order{
    margin-left: 8rem; 
}

.order p{
    color: var(--white); 
    font-size: 1.5rem; 
}

.order-num{
    margin-bottom: 0; 
}

.item{
    margin-top: 0.5rem; 
}

/* Side Bar Part: Out for Delivery */
.title{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
}

.description{
    text-transform: uppercase; 
    font-weight: bold; 
    color: var(--white); 
    font-size: 2rem; 
}

.line{
    border-top: 0.5px solid var(--grey); 
    transform: rotate(90deg);
    margin: 0; 
    object-fit: cover; 
}

.out-for-delivery p{
    margin-left: 8rem; 
    color: var(--white); 
    font-size: 1.5rem;
    margin-top: 3rem; 
    margin-bottom: 3rem; 
}

.recently-completed p{
    margin-left: 8rem; 
    color: var(--white); 
    font-size: 1.5rem; 
    margin-top: 3rem; 
    margin-bottom: 3rem; 
}

/*Specified Delivery*/
.specified-delivery{
    width: 70vw; 
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: var(--navy-blue);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--peach);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Header */ 
header{
    width: 100vw; 
    height: 10vh; 
    margin: 0%; 
    padding: 0%; 
    padding-top: 2%; 
    background-color: var(--peach);  
    border-bottom: 1px solid var(--grey);
}

.nav-bar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.nav-bar span{
    position: relative; 
    left: 5%; 
}

.nav-bar h1{
    position: relative; 
    right: 48%; 
    color: var(--white); 
}

.current-menu{
    display: flex; 
    flex-direction: row; 
}

.food-side-bar{
    width: 20vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    background-color: var(--navy-blue);
}

.food-side-bar a .item-type{
    color: white; 
    font-weight: bold; 
    font-size: 1.8rem; 
}

.food-side-bar a{
    text-decoration: none; 
    text-align: center;
    padding: 2.5rem; 
}

.food-link{
    margin-top: 25%; 
    border-top: 1px solid var(--grey); 
    border-bottom: 1px solid var(--grey);
}

.beverage-link{
    border-bottom: 1px solid var(--grey); 
}

.dessert-link{
    border-bottom: 1px solid var(--grey)
}

/* Food Menu */

.food-menu{
    display: flex;
    flex-direction: column; 
    position: relative; 
    margin-top: 5%; 
    margin-left: 5%; 
}

.food-menu h1{
    text-transform: uppercase; 
    color: var(--navy-blue); 
    margin-bottom: 10%;
    margin-left: 5%; 
}

.menu-item{
    display: flex; 
    flex-direction: row; 
    padding-top: 3rem;
    padding-bottom: 3rem; 
    border-top: 1px solid var(--grey); 
    width: 120%; 
}

.item-description{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 5%; 

}

.item-description .item-name{
    color: var(--navy-blue);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 1rem; 
}

.item-description .item-price{
    color: var(--navy-blue);
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 1.2rem; 
    margin-top: 0; 
}

.add-item{
    text-decoration: none; 
}

.add-item div{
    display: flex;
    flex-direction: row; 
}

.add-item div p{
    font-weight: bold; 
    font-size: 1.2rem;
    color: var(--navy-blue);
}

.add-item div .add-btn{
    width: 1.5rem;
    height: 1.5rem; 
    text-align: center;  
    border: 2px solid var(--navy-blue);
    border-radius: 50%;
    margin-right: 5%; 
}




