@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
:root{
    --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --nav-color: #707070;
    --main-color: #383E56;
    --secondary-color: #F69E7B; 
}

html{
    font-size: 10px; 
    font-family: var(--main-font);
}

body{
    background-color: var(--main-color);
}

/* Header */
header{
    width: 100vw; 
    margin: 0%; 
    padding: 0%; 
}


li, a{
    text-decoration: none; 
}


.logo{
    font-weight: 550; 
    font-size: 2.2rem;
    color: var(--main-color);
    cursor: pointer;
}


.nav-bar{
    position: relative; 
    align-items: center; 
    display: flex; 
    justify-content: space-between;
    left: 20%; 
    top: 20%; 
    transform: skew(0deg, 10deg);
}

.nav-link{
    list-style: none; 
}


li a{
    color: var(--nav-color);
    border: 1px solid var(--nav-color);
    border-radius: 5rem; 
    padding: 0.5rem 2.5rem; 
    font-weight: 500; 
}


.nav-link li{
    display: inline-block; 
    padding: 0 1rem; 
    text-transform: uppercase;
    font-size: 1.3rem; 
    font-weight: bold; 
}

.nav-link li a{
    transition: all 0.3s ease 0s; 
}

.nav-link li a:hover{
    color: var(--secondary-color);
    background-color: var(--main-color);
}

/* Landing */
 .skewed-box{
    background: var(--secondary-color);
    position: relative; 
    top: 0%; 
    left: 0%; 
    right: 0%; 
    width: 100vw; 
    transform: skew(0deg, -10deg) translateY(-12rem);
    padding: 20rem 0; 
    z-index: 200; 
}

h1{
    position: relative; 
    font-size: 2.5rem; 
    left: 20%; 
    top: 50%; 
    color: var(--main-color); 
    transform: skew(0deg, 10deg);
    padding-top: 7rem;
}

.reg-text{
    position: relative; 
    font-size: 1.4rem; 
    font-weight: 200; 
    left: 20%; 
    color: var(--main-color);
    transform: skew(0deg, 10deg);
} 

/* Food Section  */
.featuring-food{
    width: 100vw; 
    background-color: #fff; 
    /* position: relative; */
}

.food-options{
    display: flex; 
    flex-flow: row; 
    justify-content: space-around; 
}

.food-title{
    color: #000;
    font-size: 2.2rem; 
    font-weight: 500; 
    position: relative; 
    left: 2rem; 
}

.food-type{
    font-size: 1.2rem; 
    color: #000; 
    font-weight: 450; 
    position: relative; 
    left: 1rem; 
}

.order-img-1{
    background: url(images/food-image-2.jpg); 
    display: flex; 
    flex-flow: column; /* declares main axis to be y*/
    justify-content: flex-end; 
    width: 30vw; 
    height: 30vh; 
    background-size: cover;
    background-repeat: no-repeat;   
}

.food-description{
    background: white; 
    width: 100%; 
    padding-top: 0;  
}

.delivery{
    text-decoration: none; 
    position: relative; 
    left: 1rem; 
}

/* Learn More */
 .join-us{ 
    width: 100vw; 
    background-color: #fff;
    display: flex; 
    flex-flow: row;
    justify-content: space-between;
    height: 40rem; 
} 

.landing-end-text{
    position: relative; 
    left: 20%; 
    padding-top: 15%;
}

.partner-text{
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 2.5rem;
    color: var(--main-color);
}

.join-us img{
    width: 42.6rem;
    height: 23.9rem; 
    position: relative;
    right: 10%; 
    padding-top: 10%; 
}

.add-rest{
    font-size: 1.5rem; 
    color: var(--main-color);
    padding-top: 0; 
    font-weight: 200; 
    position: relative; 
    top: -1.5rem;
}

.learn-more{
    border-radius: 1rem; 
    background-color: #22EAAA; 
    color: #fff; 
    text-transform: uppercase; 
    padding: 0.5rem 0.5rem; 
    position: relative;
    top: -1.5rem; 
    cursor: pointer;
}



