@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Serif&display=swap);
:root {
  --main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font: "PT Serif", serif;
  --grey: #707070;
  --navy-blue: #383e56;
  --peach: #f69e7b;
  --white: #fff;
}

html {
  font-size: 10px;
  font-family: var(--main-font);
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(white);
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
}

/* Footer */
footer {
  width: 100vw;
  background-color: lavender;
  margin-top: 5%;
  padding-bottom: 10rem;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 5%;
  padding-top: 5%;
}

.footer-1 .logo {
  margin-right: 5%;
}

.logo {
  margin-top: 0;
}

.list-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0;
}

.subject {
  color: var(--peach);
  font-size: 1.5rem;
  font-weight: bold;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list li {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.list li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  font-size: 1.2rem;
}

.footer-2 {
  padding-left: 2%;
  padding-top: 2%;
}

.footer-line {
  margin-bottom: 0;
}
