@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Serif&display=swap);
:root {
  --main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font: "PT Serif", serif;
  --grey: #707070;
  --navy-blue: #383e56;
  --peach: #f69e7b;
  --white: #fff;
}

html {
  font-size: 10px;
  font-family: var(--main-font);
  max-width: 100%;
  overflow-x: hidden;
}

.personalDetails {
  background-color: var(--navy-blue);
  color: white;
  margin-left: 1.5%;
  width: 95%;
  border-radius: 20px;
  padding: 25px;
}

.questionArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2.5rem;
}

.label {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  font-family: var(--main-font);
  margin-bottom: 1rem;
}

.input {
  width: 45vw;
  padding: 0.8rem;
  border: 1px solid var(--grey);
  border-radius: 0.8rem;
  text-align: center;
}

.button {
  width: 15%;
  margin-top: 3rem;
  text-align: center;
  margin-left: 42.5%;
  padding: 1rem 3.5rem;
  background-color: var(--peach);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
}
